.carpool_logo {
    font-family: 'Lobster', cursive;
}
.carpool_footer_button {
    font-size: 0.9rem;
}
.carpool_footer {
    text-align: center;
    margin-top : 2rem;
}

.carpool_header {
    text-align: center;
    margin: 2rem 0;
}

@media screen and (max-width:600px){
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.carpool_header_nav {
    margin: 0 0.5rem;
}

.carpool_header_navbar {
    margin: 1rem 0;
}